.detail-frame{
    justify-content: space-between;
    margin: auto 150px;
    align-items: center;
    font-size: 1.5rem;
}
.d-main-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-screen{
    color: #0071C2;
    background: #ebf3ff;
    font-weight: bold;
    flex-grow: 1;
    border-right: 2px solid white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.d-screen >a{text-decoration: none;}
.d-main-picture {
    display: flex;
    height: 500px;
    justify-content: space-between;
}
.d-m-p-1 {
    width: 14%;
    height: 100%;
    max-height: 100%;
}
.d-m-p-2 {
    width: 56%;
}
.d-m-p-1 >img{
    width: 98%;
    height: 43%;
}
.d-m-p-2 >img{
    max-width: 100%;
    height: 100%px;
    width: 100%;
}
.d-introduce{
    display: flex;
    max-width: 100%
}
.d-main-introduce{
    width: 70%;
}

.input-size{
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
}
.input-number-size{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    width: 15rem;
    text-align: center;
}
.input-number{
    /* border: none; */
    text-align: center;
    font-weight: bold;
    width: 29%;
    font-size: 1.2rem;
}

.center{
    text-align: center;
}
.d-booking{
    padding-left: 1.5rem;
    overflow: auto;
    height: 100%;
    margin-left: 2rem;
    font-size: 1.5rem;
}
.d-booking >button{
    background: #006ab7;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 2% 40%;
    color: white;
}
/* .d-room-table {
} */
.d-r-t-top{
    padding: 6px 8px;
    max-width: 100%;
}
.d-dulichbenvung{
    border: solid 1px;
    display: flex;
    border-color: #e7e7e7;
    border-radius: 2px;
    justify-content: center;
}
.d-bookingkhongcanthe{
    display: flex;
    border: solid 1px;
    border-color: #008009;
    border-radius: 2px;
    justify-content: center;
    background: #e7fde9;
}
.d-bienphapbaove {
    border: solid 1px;
    display: flex;
    border-color: #e7e7e7;
    border-radius: 2px;
    justify-content: center;
}
#ttb-slide {
    text-align: center;
    width: 15rem;
    height: 30.25rem;
}

  #ttb-slide .splide__pagination--ttb{
  display: none;
}
  #ttb-slide #splide01-list li{
    margin-top: 1rem;
}
#ttb-slide section{
    padding-top: 0;
    padding-bottom: 0;
}
#ttb-slide button{
    display: none;
}

td{
    border: solid 0.5px rgb(33, 150, 243);
}

.black_1_7{
    margin-top: 5rem;
    font-size: 2.5rem;
}

.black_1_2{
    font-size: 1.8rem;
}

#top-payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    line-height: 2rem;
}

#top-payment .c-n{
    border-radius: 50%;
    background-color:rgb(33, 150, 243);;
    padding: 0.5rem;
    text-align: center;
    width: 30px;
    color: white;
}

#top-payment .txt-m{
    margin-left: -25px;
}

#main-payment{
    font-size: 1.5rem;
    margin: auto 14rem;
    margin-top: 2rem;

    line-height: 4rem;
}

.gach{
    padding: 1px;
    background: cadetblue;
    width: 20rem;
    border-radius: 11px;
}

.bottom-payment .left{
    height: fit-content;
    width: 30%;
    border: 1px solid cadetblue;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-payment .right{
    width: 64%;
    background-color: floralwhite;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.right .hotel-payment, .detail-payment{
    display: flex;
}
.gidview {
    background: none;
    border: none;
    font-size: 1.6rem;
}

.div-nd{
    
    position: absolute;
    left: 82%;
    margin-top: 5%;

}
.title-name{
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
    color: blueviolet;
}

td{
    font-size: 1.5rem;
}

.info-payment #input-infor{
    display: flex;
    /* justify-content: space-around; */
}

.hotel-payment, .info-payment, .detail-payment{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}

pre{
    font-family: 'Tahoma';
    font-size: 1.4rem;
    line-height: 2.5rem;
}

input:focus {
    background-color: rgb(33, 150, 243);
    color: white;
    /* border: none; */
}

.bottom-payment .right p {
 margin: 0;
}

.bottom-payment .content-hotel{
    margin-left: 2rem;
}
.bottom-payment span{
    color: black;
    text-shadow: 0 0 1px #0000FF;
}

.fa-star{

    color: lightskyblue;
    font-size: 2rem;
    text-shadow: rgb(0, 0, 0) 4px 2px 7px;
}

.detail-payment .tenloai{
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
    color: blueviolet;
    font-size: 2.5rem;
    font-weight: bold;
}

#btn-thanhtoan{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    background: rgb(33, 150, 243);
    color: white;
    position: absolute;
    margin-top: -16rem;
}

.submit-db-paymant{
    font-size: 1.5rem;
    background: aqua;
    border: none;
    box-shadow: 3px 0px 5px -1px;
    padding: 1rem;
    border-radius: 10px;
}


/* .submit-db-paymant{

    position: relative;
    animation: myfirst 7s linear 0s infinite ;
  }
  @keyframes myfirst {
    0%   {color:rgb(33 150 243);transform: rotate(-10deg)}
    25%  {color:black; transform: rotate(0deg)}
    50%  {color:orange; transform: rotate(10deg)}
    75%  {color:black;transform: rotate(0deg);}
    100% {color:rgb(33 150 243); transform: rotate(-10deg);}
} */